*.bak
AngryWorldQuests.lua
Atlas.lua
AtlasLoot.lua
BigWigs.lua
HandyNotes_DungeonLocations.lua
HandyNotes.lua
_Cursor.lua
WorldQuestTracker.lua
ZoneLevelInfo.lua
WorldQuestGroupFinder.lua
Skada.lua
QuestSounds.lua
Postal.lua
MogIt.lua
MikScrollingBattleText.lua
Pawn.lua
KillingBlow_Enhanced.lua
HandyNotes_TimelessTreasures.lua
HandyNotes_PandariaTreasures.lua
HandyNotes_TimelessIsleChests.lua
HandyNotes_LegionTreasures.lua
HandyNotes_LegionRaresTreasures.lua
GTFO.lua
HandyNotes_DraenorTreasures.lua
FlashTaskBar.lua
ErrorFilter.lua
Auctionator.lua
Blizzard_CombatLog.lua
DBM-Core.lua
DBM-StatusBarTimers.lua
DugisGuideViewerZ.lua
WeakAuras.lua